<% content_for :content do %>
  <div class="scan_container">
    <div class="funky_grey_seperator">
    <h4>Scan SBDJ </h4>
      <% pages = to_scan_pages(@entry.kennzahl) %>
      <%= image_tag "http://buddhismus-lexikon.eu:2001/SBDJ-Original-JPGs/SBDJ_Seite_#{pages[0]}.jpg", size: '1000x1000'  %>
    </div>
  </div>
  <hr>
  <h3>Eintrag Bearbeiten</h3>
  </br>
  <div class="scan_container">
    <%= render 'entries/form' %>
  </div>
<% end %>
