<% content_for :content do %>
<h1>EntryVersions#show</h1>
<p>Find me in app/views/entry_versions/show.html.erb</p>
<p><%= @entry_version.kennzahl  %></p>
<p><%= @entry_version.japanische_umschrift%></p>
<p><%= @entry_version.kanji %></p>
<p><%= @entry_version.spaltenzahl %></p>

<% end %>
